name: Build project
on: 
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-project:
    name: Build project
    uses: Morgritech/MT-github-workflows/.github/workflows/arduino-cpp-app-project-build.yaml@1.0.0