name: Generate binaries
on: 
  workflow_dispatch:

jobs:
  generate-binaries:
    name: Generate binaries
    uses: Morgritech/MT-github-workflows/.github/workflows/arduino-cpp-app-create-binaries.yaml@1.0.0
    with:
      action: 'generate'